---
http_interactions:
- request:
    method: get
    uri: http://realtime.mbta.com/developer/api/v2/stopsbyroute?api_key=<API_KEY>&format=json&route=CR-Needham
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"direction":[{"direction_id":"0","direction_name":"Outbound","stop":[{"stop_order":"1","stop_id":"South
        Station","stop_name":"South Station","parent_station":"place-sstat","parent_station_name":"South
        Station","stop_lat":"42.352614","stop_lon":"-71.055364"},{"stop_order":"2","stop_id":"Back
        Bay","stop_name":"Back Bay","parent_station":"place-bbsta","parent_station_name":"Back
        Bay","stop_lat":"42.347158","stop_lon":"-71.075769"},{"stop_order":"3","stop_id":"Ruggles","stop_name":"Ruggles","parent_station":"place-rugg","parent_station_name":"Ruggles","stop_lat":"42.336377","stop_lon":"-71.088961"},{"stop_order":"4","stop_id":"Forest
        Hills","stop_name":"Forest Hills","parent_station":"place-forhl","parent_station_n[...]
