---
http_interactions:
- request:
    method: get
    uri: http://realtime.mbta.com/developer/api/v2/schedulebyroute?api_key=<API_KEY>&format=json&route=CR-Needham
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"route_id":"CR-Needham","route_name":"Needham Line","direction":[{"direction_id":"0","direction_name":"Outbound","trip":[{"trip_id":"CR-Needham-CR-Saturday-Needham-Dec14-1611","trip_name":"1611
        (5:10 pm from South Station)","stop":[{"stop_sequence":"1","stop_id":"South
        Station","stop_name":"South Station","sch_arr_dt":"1425766200","sch_dep_dt":"1425766200"},{"stop_sequence":"2","stop_id":"Back
        Bay","stop_name":"Back Bay","sch_arr_dt":"1425766500","sch_dep_dt":"1425766500"},{"stop_sequence":"3","stop_id":"Ruggles","stop_name":"Ruggles","sch_arr_dt":"1425766680","sch_dep_dt":"1425766680"},{"stop_sequence":"4","stop_id":"Forest
        Hills","stop_name":"Forest Hills","sch_arr_dt":"1425767040","sch_dep_dt":"1425767040"},{"stop_sequence":"5","stop_id":"Roslindale
        Village","stop_name":"Roslindale Village","sch_arr_dt":"142[...]
