---
http_interactions:
- request:
    method: get
    uri: http://realtime.mbta.com/developer/api/v2/stopsbylocation?api_key=<API_KEY>&format=json&lat=42.2816&lon=-71.159932
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"stop":[{"stop_id":"West Roxbury","stop_name":"West Roxbury","parent_station":"","parent_station_name":"","stop_lat":"42.2816","stop_lon":"-71.159932","distance":"0"},{"stop_id":"845","stop_name":"Lagrange
        St opp Dent St","parent_station":"","parent_station_name":"","stop_lat":"42.281487","stop_lon":"-71.159676","distance":"0.0154300853610039"},{"stop_id":"843","stop_name":"Lagrange
        St @ Dent St","parent_station":"","parent_station_name":"","stop_lat":"42.281376","stop_lon":"-71.159683","distance":"0.020174453034997"},{"stop_id":"842","stop_name":"Lagrange
        St @ Westmount Ave","parent_station":"","parent_station_name":"","stop_lat"[...]
