---
http_interactions:
- request:
    method: get
    uri: http://realtime.mbta.com/developer/api/v2/alertheaders?api_key=<API_KEY>&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"alert_headers":[{"alert_id":26578,"header_text":"The Church St @
        Lexington St (layover) bus stop is temporarily closed due to construction."},{"alert_id":30370,"header_text":"7am-3pm:
        Route 131 (inbound) detoured due to construction & bypasses Porter St @Garfield
        Rd. Connect at Porter St @Orient Ave & Porter St @Norman Rd."},{"alert_id":45052,"header_text":"Route
        554 (outbound) detoured beginning Thursday, September 25, 2014, due to construction
        on the Beaver Street Culvert."},{"alert_id":64251,"header_[...]
