---
http_interactions:
- request:
    method: get
    uri: http://realtime.mbta.com/developer/api/v2/alertheadersbyroute?api_key=<API_KEY>&format=json&route=73
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"alert_headers":[{"alert_id":26578,"header_text":"The Church St @
        Lexington St (layover) bus stop is temporarily closed due to construction."},{"alert_id":68197,"header_text":"Route
        73 experiencing minor delays due to traffic"}],"route_id":"73","route_name":"73"}'
  recorded_at: Sun, 08 Mar 2015 23:50:31 GMT
recorded_with: VCR 2.9.3
