---
http_interactions:
- request:
    method: get
    uri: http://realtime.mbta.com/developer/api/v2/alertheadersbystop?api_key=<API_KEY>&format=json&stop=1094
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"alert_headers":[{"alert_id":68159,"header_text":"Rte 64 Detour in
        Effect: Omitting Hobart St., Faulkland St., & Faneuil St. between Brooks St.
        & Faulkland St. Connect at Brooks Street."}],"stop_id":"1094","stop_name":"Faneuil
        St @ Fairbanks St"}'
  recorded_at: Sun, 08 Mar 2015 23:52:06 GMT
recorded_with: VCR 2.9.3
