---
http_interactions:
- request:
    method: get
    uri: http://realtime.mbta.com/developer/api/v2/alerts?api_key=<API_KEY>&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"alerts":[{"alert_id":26578,"effect_name":"Stop Move","effect":"STOP_MOVED","cause_name":"construction","cause":"CONSTRUCTION","header_text":"The
        Church St @ Lexington St (layover) bus stop is temporarily closed due to construction.","short_header_text":"The
        Church St @ Lexington St (layover) bus stop is temporarily closed due to construction.","description_text":"Beginning
        Monday, April 14, 2014, the Church Street @ Lexington Street stop is temporarily
        closed due to construction. Customers should please travel west, turn right
        at Lexington Street, and travel north to the nearest accessible location on
        Lexington Street @ Church Street.","severity":"Severe","created_dt":"1397178137","last_modified_dt":"1410488784","service_effect_text":"Church
        St @ Lexington St moved","timeframe_text":"ongoing","alert_lifecycle":"Ongoing","effect_periods":[{"effect_start":"1397464200","effect_end":""}],"affected_services":{"services":[{"route_type":"3","mode_name":"Bus","route_id":"73","route_name":"73","stop_id":"2134","stop_name":"Church
        St @ Lexington St"}],"elevators":[]}},{"alert_id":30370,"effect_name":"Detour","effect":"DETOUR","cause_name":"construction","cause":"CONSTRUCTION","header_text":"7am-3pm:
        Route 131 (inbound) detoured due to construction & bypasses Porter St @Garfield
        Rd. Connect at Porter St @Orient Ave & Porter St @Norman Rd.","short_header_text":"7am-3pm:
        Rt 131  detoured due to construction & bypasses Porter St @Garfield Rd. Connect
        at Porter St @Orient Ave & Porter St @Norman Rd.","description_text":"Affected
        direction: Inbound\n\nAffected stops:\nPorter St @ Garfield Rd","severity":"Severe","created_dt":"1400844435","last_modified_dt":"1406778479","service_effect_text":"Route
        131 detour","timeframe_text":"ongoing","alert_lifecycle":"Upcoming-Ongoing","recurrence_text":"Monday-Tuesday","effect_periods":[{"effect_start":"1425898800","effect_end":"1425934800"},{"effect_start":"1425898800","effect_end":"1425934800"},{"effect_start":"1425985200","effect_end":"1426021200"},{"effect_start":"1425985200","effect_end":"1426021200"},{"effect_start":"1426503600","effect_end":"1426539600"},{"effect_start":"1426503600","effect_end":"1426539600"},{"effect_start":"1426590000","effect_end":"1426626000"},{"effect_start":"1426590000","effect_end":"1426626000"},{"effect_start":"1427108400","effect_end":"1427144400"},{"effect_start":"1427108400","effect_end":"1427144400"}],"affected_services":{"services":[{"route_type":"3","mode_name":"Bus","route_id":"131","route_name":"131","direction_id":"1","direction_name":"Inbound","stop_id":"9079","stop_name":"Porter
        St @ Garfield Rd"}],"elevators":[]}},{"alert_id":45052,"effect_name":"Detour","effect":"DETOUR","cause_name":"construction","cause":"CONSTRUCTION","header_text":"Route
        554 (outbound) detoured beginning Thursday, September 25, 2014, due to construction
        on the Beaver Street Culvert.","short_header_text":"Route 554 (outbound) detoured
        beginning Thursday, September 25, 2014, due to construction on the Beaver
        Stree[...]
