---
http_interactions:
- request:
    method: get
    uri: http://realtime.mbta.com/developer/api/v2/schedulebystop?api_key=<API_KEY>&format=json&stop=West%20Roxbury
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"stop_id":"West Roxbury","stop_name":"West Roxbury","mode":[{"route_type":"2","mode_name":"Commuter
        Rail","route":[{"route_id":"CR-Needham","route_name":"Needham Line","direction":[{"direction_id":"0","direction_name":"Outbound","trip":[{"trip_id":"CR-Needham-CR-Saturday-Needham-Dec14-1611","trip_name":"1611
        (5:10 pm from South Station)","sch_arr_dt":"1425767700","sch_dep_dt":"1425767700"}]}]}]}]}'
  recorded_at: Sat, 07 Mar 2015 22:06:24 GMT
recorded_with: VCR 2.9.3
