---
http_interactions:
- request:
    method: get
    uri: http://realtime.mbta.com/developer/api/v2/routesbystop?api_key=<API_KEY>&format=json&stop=West%20Roxbury
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"stop_id":"West Roxbury","stop_name":"West Roxbury","mode":[{"route_type":"2","mode_name":"Commuter
        Rail","route":[{"route_id":"CR-Needham","route_name":"Needham Line"}]}]}'
  recorded_at: Sat, 07 Mar 2015 21:24:19 GMT
recorded_with: VCR 2.9.3
